@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

:root {
    --input-bg: #f6f7f6;
}

html {
    @apply lg:overflow-x-hidden lg:overflow-x-hidden;
}

/* Form Common Styles */
.input-field,
.multiselect,
select {
    @apply rounded-md flex items-center lg:text-base border border-gray-300 focus:border-[1.5px] focus:border-primary-500 focus:outline-none focus:shadow-none focus:ring-0;
}
.multiselect-tag{
    @apply bg-primary-500 !important;
}
.multiselect-option.is-selected{
    @apply bg-primary-500 !important;
}
.multiselect-tag-remove-icon{
    @apply opacity-60 w-4 h-4 bg-[#d6dfd9] hover:bg-[#de331d] hover:opacity-100 !important;
}
.dp__theme_light input {
    @apply lg:text-base border border-gray-300 focus:border-primary-500 rounded-md focus:ring-0 !important;
}
.multiselect {
    @apply mt-1;
}
.multiselect.is-active {
    @apply mt-1 border border-primary-500 ring-0 !important;
}
.input-checkbox {
    @apply rounded border-gray-300 text-primary-500 hover:border-primary-500 hover:outline-none hover:shadow-none hover:ring-offset-0 hover:ring-8 hover:ring-primary-100;
}
.input-radio {
    @apply w-4 h-4 text-primary-500 bg-white border-gray-300 hover:ring-offset-0 hover:ring-8 hover:ring-primary-100;
}

.switcher-button {
    @apply relative bg-primary-500/25 inline-flex h-4 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out;
}
.switcher-nob {
    @apply pointer-events-none inline-block h-6 w-6 relative -top-1.5 transform rounded-full transition duration-200 ease-in-out focus:ring-offset-0 focus:ring-4 focus:ring-primary-100;
}
.multiselect-caret{
    @apply bg-multiselect-caret bg-center bg-no-repeat w-2.5 h-4 py-px box-content mr-3.5 relative z-10 opacity-100 flex-shrink-0 flex-grow-0 transition-transform transform pointer-events-none rtl:mr-0 rtl:ml-3.5 !important;
}
.multiselect .multiselect-dropdown{
    overflow-y: auto;
}
/* Tabs Styles */
.tabs-wrapper {
    @apply inline-flex flex-wrap items-center bg-white rounded-xl font-medium text-base mb-3;
}
.tabs-wrapper li a, .vertical-tabs li a {
    @apply py-3 px-4 block rounded-xl !no-underline flex items-center;
}
.tabs-wrapper li a svg {
    @apply mr-2;
}
.tabs-wrapper li a.active, .vertical-tabs li a.active {
    @apply bg-primary-500 text-white;
}
.start-radius-none{
    @apply rounded-s-none !important;
}
/* App Layout */
.headerIcon {
    @apply bg-primary-100 rounded-md flex items-center justify-center text-lg text-primary-500 mr-1 w-8 h-8 lg:w-11 lg:h-11 lg:text-xl;
}

.settingicons_bg{
    background-color: rgb(214 223 217 / var(--tw-bg-opacity));
}

div.iti__selected-flag {
    @apply pl-3 pr-5 border-r;
}

div.iti .input-field {
    @apply pl-20 !important
}

.main-sidebar a:hover svg path, .main-sidebar a:hover svg rect {
    @apply stroke-black;
}
.main-sidebar .active svg rect,
.main-sidebar .active svg path
{
    @apply stroke-black;
}

/* Store Front Classes */

.classes-timetable {
    @apply mb-4 md:bg-white rounded-lg cursor-grab no-scrollbar;
}

.classes-timetable::-webkit-scrollbar {
    width: auto;
    height: 14px;
}

.classes-timetable::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 20px;
}

.classes-timetable::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.6);
  height: 5px;
  border-radius: 10px;
  border: 3px solid #fff;
}

/* Sweetalert */
.swal2-actions:not(.swal2-loading) .swal2-styled:hover {
    background-image: none;
}

.swal2-styled.swal2-confirm:focus, .swal2-styled.swal2-deny:focus, .swal2-styled.swal2-cancel:focus {
    box-shadow: none;
}

.swal2-styled.swal2-confirm, .swal2-styled.swal2-deny, .swal2-styled.swal2-cancel {
    border: 1px solid transparent;
}

.swal2-styled.swal2-confirm {
    @apply inline-flex items-center disabled:opacity-25 transition font-semibold bg-secondary-500 hover:bg-secondary-100 focus:bg-secondary-100 active:bg-secondary-600 text-dark active:text-white rounded-md border border-secondary-500 hover:bg-secondary-100 hover:text-secondary-500 focus:text-secondary-500 px-4 h-11 text-sm;
}

.swal2-styled.swal2-deny {
    @apply inline-flex items-center disabled:opacity-25 transition font-semibold bg-danger-500 hover:bg-danger-100 focus:bg-danger-100 active:bg-danger-600 text-white active:text-white rounded-md border border-danger-500 hover:text-danger-500 hover:bg-danger-100 focus:text-danger-500 px-4 h-11 text-sm;
}

.swal2-styled.swal2-cancel {
    @apply inline-flex items-center disabled:opacity-25 transition font-semibold bg-white rounded-md border border-grey hover:border-secondary-500 hover:bg-secondary-100 hover:text-secondary-500 focus:bg-secondary-100 focus:text-secondary-500 active:bg-white active:text-secondary-500 active:border-secondary-500 text-gray-900 px-4 h-11 text-sm;
}
